body {
  @apply bg-gray-50 text-base pt-14 xl:pl-60;
}

#app {
  @apply w-screen transition-all lg:w-auto;
}

.dropdown {
  @apply cursor-pointer;
}

.m-clipped, .m-clipped body {
  @apply overflow-hidden lg:overflow-visible;
}

.form-screen body {
  @apply p-0;
}

.error-msg{
  color: red;
  font-weight: bold;
}

.max-h-modal {
  overflow-x: auto;
}

a{
  color: royalblue;
}
.search-input{
  width: 100%;
    height: 35px;
    border: 1px solid #eee;
    border-radius: 5px;
}